<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.BlogAndTagMapper">

    <insert id="insert">
        insert into blog.blog_tags(blogs_id, tags_id) values (#{blogId},#{tagId})
    </insert>

    <select id="listBlogByTagId" resultType="Long">
        select blogs_id from blog.blog_tags where tags_id=#{tagId}
    </select>

    <select id="listTagIdByBlog" resultType="Long">
        select tags_id from blog.blog_tags where blogs_id=#{blogId}
    </select>

</mapper>